<div>

    @{
        ViewData["Title"] = "Bienvenido Farmaceutico";
    }

    <h2 style="text-align: center">@ViewData["Title"]</h2>
</div>

<div style="margin-top: 60px;">
</div>


<div>

    <style>
        .contenedor-botones-columna {
            display: flex; /* Habilita Flexbox */
            flex-direction: column; /* Apila los ítems verticalmente */
            gap: 10px; /* Añade un espacio de 10px entre los botones */
            align-items: flex-start; /* Opcional: Alinea los botones a la izquierda si son de anchos diferentes */
        }
    </style>
    <div class="contenedor-botones-columna">
        <button type="button" class="btn btn-success">Agregar medicamento</button>
        <button type="button" class="btn btn-success">Buscar medicamentos</button>
        <button type="button" class="btn btn-success">Actualizar medicamentos</button>
        <button type="button" class="btn btn-success">Listar medicamentos</button>
        <button type="button" class="btn btn-success">Eliminar medicamentos</button>
    </div>
</div>



    <div style="margin-top: 60px;">
    </div>

<form asp-controller="Home" asp-action="CerrarSesion" method="post">
    <button type="submit" class="btn btn-warning btn-sm">Cerrar Sesión</button>
</form>
