<div>

    @{
        ViewData["Title"] = "Bienvenido Vendedor";
    }

    <h2 style="text-align: center">@ViewData["Title"]</h2>
</div>

<div style="margin-top: 60px;">
</div>


<div>

    <style>
        .contenedor-botones-columna {
            display: flex; /* Habilita Flexbox */
            flex-direction: column; /* Apila los ítems verticalmente */
            gap: 10px; /* Añade un espacio de 10px entre los botones */
            align-items: flex-start; /* Opcional: Alinea los botones a la izquierda si son de anchos diferentes */
        }
    </style>
    <div class="contenedor-botones-columna">
        <button type="button" class="btn btn-warning">Registrar Cliente</button>
        <button type="button" class="btn btn-warning">Buscar Cliente</button>
        <button type="button" class="btn btn-warning">Registrar ventas</button>
        <button type="button" class="btn btn-warning">Modificar venta</button>
        <button type="button" class="btn btn-warning">Buscar ventas por ID</button>
        <button type="button" class="btn btn-warning">Listar ventas</button>
        <button type="button" class="btn btn-warning">Eliminar ventas</button>
        
    </div>

</div>


<div style="margin-top: 60px;">
</div>

<form asp-controller="Home" asp-action="CerrarSesion" method="post">
    <button type="submit" class="btn btn-secondary btn-sm">Cerrar Sesión</button>
</form>